.column(span="row")
  .section-header Welcome to my Sanctuar

.column(span="row")
  button.circle
    i.my-cv__youtube
    span.text-button Youtube

.column(span="row")
  h1 Robert Alexandru 
.column(span="row")
  h2 Junior Front End Developer 
.column(span="row")
  h3 About me

.column(span="row")
  .description-wrapper
    p Coding flows through my veins and my goal is to continuously improve and make a positive impact in people’s life by delivering amazing front end experiences.

.column(span="row")
  button.download 
    i.my-cv__download 
    span.text-button Download My Cv

.column(span="row")
  button.disc
    i.my-cv__arrow-down 
    span.text-button ArD
