.section__ {

  &header-wrapper{
    padding: 10px;
    height: 60px;
    background-color: #d52027;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.30);
    position: relative;
    
    &::before{
      position: absolute;
      content: '';
      background-color: #d52027;
      left: -36px;
      top: 0;
      bottom: 0;
      right: -36px;
    }
    
    &::after{
      position: absolute;
      content: '';
      box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.30);
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }
  
  &header{
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white ;
    position: relative;
    font-size: 24px;
  }

  &main-title,
  &sub-title {
    color: #707070;
    text-align: center;
  }

  &main-title{
    font-size: 48px;
    line-height: 64px;
  }

  &sub-title {
    font-size: 36px;
    line-height: 48px;
  }

  &description-title {
    font-size: 22px;
    line-height: 30px;
    color: #808080;
  }
}

button[class^="download-button"] i[class^="my-cv__"] {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-button {
  background-color: #1875F0;
  height: 40px;
  margin: 0px auto;
  border-radius: 20px;
  padding: 0 24px;
  color: white;
  display: flex;
  align-items: center;
  border: 0;
  font-size: 10px;
  font-weight: 900;
}

.circle-red,
.circle-green {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0;
  color: white;
  margin: 0px auto;
}

.circle-red {
  background-color: #d52027;
}

.circle-green {
  background-color: #50D166;
}

.description__ {
  &wrapper {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.25);
    border-radius: 6px;
    padding: 20px;
  }

  &text {
    font-size: 14px;
    line-height: 30px;
    color: #707070;
  }
}
