.section__ {

  &header-wrapper{
    padding: 10px;
    height: 60px;
    background-color: #d52133;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.20);
  }
  
  &header{
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white ;
  }

  &main-title,
  &sub-title {
    color: #707070;
    text-align: center;
  }

  &main-title{
    font-size: 48px;
    line-height: 64px;
  }

  &sub-title {
    font-size: 36px;
    line-height: 48px;
  }

  &description-title {
    font-size: 22px;
    line-height: 30px;
    color: #808080;
  }
}

.description__ {
  &wrapper {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.25);
    border-radius: 6px;
    padding: 20px;
  }

  &text {
    font-size: 14px;
    line-height: 30px;
    color: #707070;
  }
}
